@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Permanent+Marker|Signika:400,700&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Signika', sans-serif;
    background-color: rgb(43, 43, 44);
    color: white;
    margin: auto;
    max-width: 950px;
}

#page-wrapper {
    position: relative;
  }

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgb(16, 77, 83);
}

#header {
    text-align: center;
    z-index: 999;
    align-content: center; 
    display: flex;
}

/*Logo image sizing*/
img {
    background-color: rgba(240, 234, 234, 0.493);
    border: 1px solid rgb(119, 201, 221);
    border-radius: 8px;
    padding: 5px;
    width: 80px;
}

.nav-link {
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    padding: 2px;
    margin: 3px;
       
} 

#nav-list {
    list-style: none;
}

nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

.logo > #header-img, #company-name > h1, #nav-bar > ul {
    flex: 50%;
    margin: 3px;
    padding: 10px;
    max-height: 80px;  
} 

#back-top{
    visibility: hidden;
}

#pricing > ul {
    display: flex;
    margin: auto;
    padding: 0%;
}

#pricing-block {
    flex: 50%;
    margin: 3%;
    border: solid whitesmoke;
    text-align: center;
}

h3 {
    background-color: rgba(128, 128, 128, 0.63);
    margin-top: 0%;
    padding: 5px;
}

#pricing-block > p{
    margin: 5px;
}

/*fixes anchor jumping covering content*/
section:before { 
    display: block; 
    content: " "; 
    margin-top: -75px; 
    height: 75px; 
    visibility: hidden; 
  }

@media (max-width: 791px) {
    body{
        padding-top: 0px;
        text-align: center;
    }
    header{
        position: static;
        padding-bottom: 20px;
    }
    #header{
        text-align: center;
        background-color: rgb(16, 77, 83);
    }
    .logo {
        margin-top: 15px;
        width: 100%;
        position: relative;
    }
    .logo > img {
        margin: 0 4px;
    }
    nav {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 50px;
    }
    #nav-link {
        margin: 0 0 20px 0;
        padding: 2px;
        border: none;
        background-color: none;
        text-align: right;
        align-content: right;
    }
    #section-info > #how-list{
        text-align: left;
    }
    ul, #header, nav > ul {
        flex-direction: column;
        margin: auto;
    }
}
@media (max-width: 2300px) and (min-width: 791px) and (max-height: 800px) {
    #back-top{
        visibility: visible;
    }
}